body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    /* overflow: hidden; */
    height: 2900px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

/* 搜索模块 */
.search-index {
    display: flex;
    /* 固定定位跟父级没有关系，它以屏幕为准 */
    position: fixed;
    top: 0;
    left: 50%;
    /* 固定定位的盒子必须有宽度 */
    transform: translateX(-50%);
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    /* background-color: pink; */
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}



.search {
    position: relative;
    flex: 1;
    height: 26px;
    line-height: 24px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666;
    margin: 7px 10px;
    padding-left: 21px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.search::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 20px;
    background: url(../images/icons.png) no-repeat -77px -90px;
    background-size: 560px auto;
}

.user {
    width: 44px;
    height: 44px;
    /* background-color: red; */
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}

.user::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../images/icons.png) no-repeat -142px -18px;
    background-size: 560px auto;
    margin: 5px auto -2px;
}

.focus {
    padding-top: 44px;
}

.focus img {
    width: 100%;
}

/* 局部导航栏 */
.local-nav {
    display: flex;
    height: 64px;
    background-color: #ffc0c0;
    margin: 3px 4px;
    border-radius: 8px;
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex;
    flex-direction: column;
    /* 侧轴居中对齐  因为是单行 */
    align-items: center;
    font-size: 12px;
}

.local-nav-icon {
    width: 28px;
    height: 28px;
    background-color: pink;
    margin-top: 8px;
    background: url(../images/mainnav.png) no-repeat -4px -97px;
    background-size: 32px auto;
}

/* 主导航栏 */
nav {
    overflow: hidden;
    border-radius: 8px;
    margin: 0 4px 3px;
}

.nav-common {
    display: flex;
    height: 88px;
    background-color: pink;
}

.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #fa5a55, #fa994d);
}

.nav-common:nth-child(2) {
    margin: 3px 0;
    background: -webkit-linear-gradient(left, #4b90ed, #53bced);
}

.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34c2a9, #6cd559);
}

.nav-items {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.nav-items a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    /* 文字阴影 */
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.nav-items a:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.nav-items:nth-child(1) a {
    border: 0;
    background: url(../images/bj.png) no-repeat bottom center;
    background-size: 121px auto;
}

.nav-items:nth-child(-n+2) {
    border: 1px solid #fff;
}

.subnav-entry {
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 4px;
    flex-wrap: wrap;
    padding: 5px 0;
}

.subnav-entry li {
    /* 里面的子盒子可以写百分比%，相对于父级来说的 */
    flex: 20%;
}

.subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subnav-entry-icon {
    width: 28px;
    height: 28px;
    background-color: red;
    background: url(../images/mainnav.png) no-repeat -4px -482px;
    background-size: 32px auto;
}

.sales-box {
    border-top: 1px solid #bbb;
    background-color: #fff;
    margin: 4px;
}

.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}

.sales-hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}

.sales-hd h2::after {
    position: absolute;
    top: 8px;
    left: 20px;
    content: "";
    width: 79px;
    height: 15px;
    background: url(../images/text.png) no-repeat 0 -33px;
    background-size: 135px auto;
}

.more {
    position: absolute;
    right: 5px;
    top: 0;
    background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
    color: #fff;
}

.more::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.row {
    display: flex;
}

.row a {
    flex: 1;
    border-bottom: 1px solid #eee;
}

.row a:nth-child(1) {
    border-right: 1px solid #eee;
}

.row a img {
    width: 100%;
}

.foot {
    display: flex;
    height: 99px;
    background-color: #eee;
}

.foot li {
    flex: 1;
}

.foot li a {
    display: flex;
    flex-direction: column;
    /* 侧轴居中对齐  因为是单行 */
    align-items: center;
    font-size: 12px;
}